body{
margin: 0;
padding: 0;
}
.manager{
    padding-top: 6%;
    
}
form{
    width: 30%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 30px;
    text-align: left;
}
h4{
    color: rgb(37, 37, 37);
}
.hr-man{
    width: 310px;
    background-color: rgb(189,135,9);
    height: 2px;
    margin-top: 0;
}
input[type="checkbox"]{
    border-color: rgb(189,135,9);
    width: 25px;
    height: 30px;
}
.custom-input{
    font-size: 20px;
    border: 1.5px solid rgb(189,135,9);
    border-radius: 5px;
    padding: 2px;
    outline: none;
}

.custom-input:focus{
    border: 1.5px solid red;
}
button{
    font-size: 25px;
    color: white;
    background-color: black;
    /* border: 2px solid rgb(189,135,9); */
    margin-top: 30px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
}
.manager-list{
    display:grid;
    grid-template-columns:repeat(4,1fr) ;
    gap: 30px;
    width: 80%;
    margin: auto;
    margin-top: 100px;
}