.project{
    padding-top: 6%;
}
.form-project{
    width: 100%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 30px;
    text-align: left;
}
hr{
    width: 200px;
    background-color: rgb(189,135,9);
    height: 2px;
    margin-bottom: 40px;
}
.project-hr{
    width: 330px;
}
h4,h2{
    color: rgb(37, 37, 37);
}
button{
    font-size: 25px;
    color: white;
    background-color: black;
    /* border: 2px solid rgb(189,135,9); */
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
}
.input{
    font-size: 20px;
    border: 1.5px solid rgb(189,135,9);
    border-radius: 5px;
    padding: 2px;
    outline: none;
}

.input:focus{
    border: 1.5px solid red;
}
.project-main{
    display: flex;
    margin: auto;
    width: 85%;
    justify-content: space-between;
}
.project2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.project-list{
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.project1{
    box-shadow: rgba(179, 148, 9, 0.4) 5px 0px;
    padding: 20px;
}
.project-div{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    text-align: left;
}
.title{
    font-weight: bold;
}
.status{
    color: red;
}